body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

/* Dark Mode */
body.dark {
    background: #111;
    color: white;
}

/* Light Mode */
body.light {
    background: white;
    color: black;
}

.box {
    width: 320px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.05);
}

body.dark .box {
    background: #1e1e1e;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

/* Dark Mode Input */
body.dark input {
    background: #222;
    color: white;
    border: 1px solid #444;
}

/* Light Mode Input */
body.light input {
    background: white;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: auto;
    padding: 6px 12px;
    background: #00c853;
    color: white;
}
